body		{background-color: #F2F5A9; font-family: Verdana, Tahoma, Arial, sans-serif; font-size: 18px}	


#wrapper {margin: 0 auto; max-width: 1020; width: 98%; background: #FEFBE8; border: 1px solid #878E63; 
		  border-radius: 2px; box-shadow: 0 0 10px 0px rgba(12, 3, 25, 0.8);}
		  
	  
#callout {width: 100%; height: 80px; background: #FE9A2E; overflow: hidden;}

#callout p {text-align: right; color:#FEFBE8; font-side: 13px; padding: .1% 1% 0% 0%}
#callout p a {color:#DAE979; text-decoration: none;}

header	{width: 100%; min-height: 60px; padding:5px; text-align:center; font-family: Verdana; color: #00628B}

nav ul {list-style: none; margin: 0; padding-left: 50px;}
nav ul li {float:left; border: 1px solid #878E63; width: 20%;}
nav ul li a {background:#DAE979; display: block; padding: 5% 3% 2% 3%; padding: 5% 12% 
			font-weight: bold; text-decoration: none; text-align: center;}
nav ul li a:hover, nav ul li.active a {background-color:#F2F5A9; color:#FE9A2E}



.banner img {margin-left: 2%; width: 90%; height: 50%; border-top: 1 px solid #878E63}
.classfix {clear:both;} 
.left-col {width:55%; float:none; margin: 1% 0% 1% 1%;font size ="20";}
.sidebar {width: 40%; float: right; margin: 1%; text-align: center;}
.section {width: 20%; float: left; margin: 2% 2%; text-align: center}
#section p {font-size= "12";}


footer	 {background: #FE9A2E; width: 100%; overflow: hidden; background-color: lightblue}
footer p, footer h3 {color: #FEFBE8;}
footer p a {color: #E979E4; text-decoration: none;}
ul {list-style-type: none; margin: 0; padding: 0;}
li {display: inline;}

ul li img {height: 50px;}

/*This is where the media starts*/
@media screen and (max-width: 478px) {
	body {font-size: 13px; }
}

@media screen and (max-width: 740px) {
	nav {width: 100%; margin-bottom: 10px;}
	nav ul {list-style: none; margin: 0 auto; padding-left: 0;}
	nav ul li {text-align: center; margin-left: 0 auto; width: 100%; border-top: 
				1px solid #DAE979; border-right: 0 px solid#DAE979; border-bottom: 1px solid #878E63;
				border-left: 0px solid #878E63}
	nav ul li a {padding: 8px 0; font-size: 16px; }
	.left-col {width: 100%}
	.sidebar {width: 100%}
	.section{float: left; width: 100%; margin: 0;}
	
}


	
h1			{font-family:  "Calisto MT"; font-size: 30px; color; #DD0000; text-align: center}
h2			{font-family:  "Trebuchet MS"; font-size: 30px; color; #DD0000; text-align: center}
h3			{font-family:  "Calisto MT"; font-size: 20px; color; #AA0000; text-align: center}
h5			{font-family:  "Calisto MT"; font-size: 10px; color; #AA0000; text-align: right}
/**p			{font-family:  "Georgia"; font-size: 16px; line-height: 20px; color; #AA0000; text-align: left; padding: 2%}*/
ulp			{font-family:  "Georgia"; font-size: 12px; line-height: 16px; color; #AA0000; text-align: right}
olp			{font-family:  "Georgia"; font-size: 12px; line-height: 16px; color; #AA0000; text-align: right}
th			{background: #FE9A2E;	color; #FF8000 border: 1px solid black; text-align: center;}
td			{font-family:"Bodoni MT Black"; font-size: 16px border: 1px solid black td; text-align: center;padding: 15px;}
