

#redstripe {
		background: #fff;
		width: 100%;
		_height: 600px;
		display: inline-block;
		_margin: 0 auto 0 auto;
		position: relative;
		text-align: center;
		}
	
		
.banner2 {
		background: blue;
		width: 100%;
		height: 300px;
		display: inline-block;
		margin: 0 auto 0 auto;
		}


#smallgroup {
	margin: 40px 0 0 0; 
	display: inline-block;
	}
	
.home .section {
		margin: 4% 4%; 	
		text-align: center;	
		padding: 5px;
		position: relative;
		display: table-cell;
		width: 220px;
		border: 4px white solid;
		background-image: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/mountains.png");	
		}


.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}	
